div#container1{
    display: flex;
    gap: 15px;
}
div#box-1{
    /* border: 1px solid black; */
    width: 200px;
    height: 60px;
    background-color: red;
    color: white;
}
div#box-2{
    /* border: 1px solid black; */
    width: 200px;
    height: 60px;
    background-color: brown;
    color: white;
}
div#container2{
    display: flex;
    gap: 15px;
}
div#box-3{
    /* border: 1px solid black; */
    width: 200px;
    height: 60px;
    background-color: #bde0fe;
}
div#box-4{
    /* border: 1px solid black; */
    width: 200px;
    height: 60px;
    background-color: #fdf0d5;
}
div#container3{
    display: flex;
    gap: 15px;
}
div#box-5{
    /* border: 1px solid black; */
    width: 200px;
    height: 60px;
    background-color: rgb(95, 26,64);
    color: white;
}
div#box-6{
    /* border: 1px solid black; */
    width: 200px;
    height: 60px;
    background-color: rgba(63, 19, 72, 0.2);
}
div#container4{
    display: flex;
    gap: 15px;
}
div#box-7{
    /* border: 1px solid black; */
    width: 200px;
    height: 60px;
    background-color: hsl(265, 50%, 30%);
    color: white;
}
div#box-8{
    /* border: 1px solid black; */
    width: 200px;
    height: 60px;
    background-color: hsla(180, 68%, 11%, 1);
    color: white;

}