/* * Font Family */
*{
    font-family: "Montserrat", sans-serif;
}
/* * Text Align */
h2{
    text-align: center;
}
p#p1{
    text-align: justify;
}
/* *Text Transform */
h4{
    text-transform: capitalize;
}
/* * Letter Spacing */
p#p2{
    letter-spacing: 0.5rem;
}
/* * Word Spacing */
h2#wdsp{
    text-align:right;
    word-spacing: 3em;
}
/* * Line Hieght*/
p#p3{
    border: 1px solid black;
    width: fit-content;
    line-height: 5;
}
/* * font size, font wieght, font style */
p#p4{
    font-size: 1.5rem;
    font-weight: bold;
    font-style:oblique;
}