/* ^ Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* ^ Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #fdfbf9;
  color: #fff;
  font-family: "Work Sans", sans-serif;
}
.container {
  width: 30%;
  margin: 5rem auto;
  background-color: #fd0363;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img-container {
  width: 100%;
}
.img-container img {
  width: 200px;
}
.container h1 {
  padding: 0.5rem;
  font-weight: 900;
}
.container h4 {
  text-align: center;
  font-weight: 600;
}
.container p {
  text-align: justify;
  font-size: 1.3rem;
}
.container button {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-left: 7.8rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
  color: #fd0363;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container button:hover {
  cursor: pointer;
}
.container hr {
  color: #fff;
}
.icon i {
  font-size: 2.5rem;
}
.icon i:hover {
  cursor: pointer;
}
