* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 200px;
  height: 200px;
  background-color: red;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 1.6rem;
}
#relative {
  background-color: blue;
  position: relative;
  left: 2rem;
  top: 1rem;
}
