* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
nav {
  width: 100%;
  background-color: hotpink;
  text-align: center;
  padding: 0.5rem;
  position: fixed;
  top: 0;
}
nav ul li {
  font-size: 1.6rem;
  display: inline;
  margin: 0 1rem;
  color: #fff;
  font-weight: 900;
}
.container {
  width: 50%;
  text-align: center;
  margin: 2rem auto;
}
.container h1 {
  margin-top: 1.5rem;
}
