img{
    height: 300px;
    width: 500px;
}
div.p1{
    border: 4px solid darkmagenta;
    text-align: center;
    width: 300px;
    height: 200px;
    border-radius: 30px;
}
#profile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid black;
}
p#padding-eg{
    border: 3px solid darkorange;
    /* padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem; */
    /* *Shorthand property */
    /* padding: 2rem 3rem; */
    /* padding: 1.5rem 2rem 1rem 2.6rem; */
    /* padding: 3rem; */
    padding: 1rem 2.5rem 1rem;
}
p#margin-eg{
    border: 3px solid red;
    background-color: black;
    color: white;
    /* margin-top: 2rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-right: 2rem; */
    /* *Shorthand property */
    /* margin: 2rem 3rem; */
    margin: 1.5rem 2rem 1rem 2.6rem;
    /* margin: 3rem; */
    /* margin: 1rem 2.5rem 1rem; */
}
div.content{
    border: 4px solid dodgerblue;
    text-align: center;
    width: 250px;
    height: 100px;
    border-radius: 2rem;
    margin: 0 auto;

}